@font-face {
  font-family: "iconfont"; /* Project id 3301408 */
  src: url('iconfont.woff2?t=1649402430676') format('woff2'),
       url('iconfont.woff?t=1649402430676') format('woff'),
       url('iconfont.ttf?t=1649402430676') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daohang:before {
  content: "\e652";
}

.icon-fuzhi:before {
  content: "\e653";
}

.icon-dizhi:before {
  content: "\e655";
}

.icon-zhishi:before {
  content: "\e656";
}

.icon-jifen:before {
  content: "\e657";
}

.icon-huiyuan:before {
  content: "\e658";
}

.icon-kejian:before {
  content: "\e659";
}

.icon-guanyu:before {
  content: "\e65a";
}

.icon-chazhao:before {
  content: "\e65b";
}

.icon-mima1:before {
  content: "\e65c";
}

.icon-renyuan:before {
  content: "\e65d";
}

.icon-peizhi:before {
  content: "\e661";
}

.icon-quan:before {
  content: "\e664";
}

.icon-shangcheng:before {
  content: "\e665";
}

.icon-qianbao:before {
  content: "\e667";
}

.icon-kefu:before {
  content: "\e668";
}

.icon-naozhong:before {
  content: "\e66a";
}

.icon-dianzan:before {
  content: "\e66b";
}

.icon-shaixuan:before {
  content: "\e66d";
}

.icon-shuaxin:before {
  content: "\e66e";
}

.icon-shoucang:before {
  content: "\e66f";
}

.icon-xianzhi:before {
  content: "\e670";
}

.icon-tuisong:before {
  content: "\e671";
}

.icon-tongzhi:before {
  content: "\e672";
}

.icon-shanchu:before {
  content: "\e674";
}

.icon-shezhi:before {
  content: "\e675";
}

.icon-xihuan:before {
  content: "\e676";
}

.icon-yue:before {
  content: "\e677";
}

.icon-shuju:before {
  content: "\e678";
}

.icon-yijian:before {
  content: "\e679";
}

.icon-xiaoxi:before {
  content: "\e67a";
}

.icon-xiugai:before {
  content: "\e67b";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-yonghuming:before {
  content: "\e64a";
}

.icon-Add:before {
  content: "\e654";
}

.icon-Heart:before {
  content: "\e65e";
}

.icon-Home:before {
  content: "\e65f";
}

.icon-Message:before {
  content: "\e660";
}

.icon-Save:before {
  content: "\e662";
}

.icon-Setting:before {
  content: "\e663";
}

.icon-Wrench:before {
  content: "\e666";
}

.icon-a-AlignJustify:before {
  content: "\e669";
}

.icon-Edit:before {
  content: "\e66c";
}

.icon-Top:before {
  content: "\e673";
}

.icon-eye-slash-copy:before {
  content: "\e8b3";
}

.icon-eye-copy:before {
  content: "\e8b4";
}

